# Data science tutorials  
### Chapter2 : Python programming

<img style="float: right;" src="img/logo.png" width="150">

<div style="text-align: right"> Initial issue : 2022.01.22 </div>
<div style="text-align: right"> last update : 2022.01.22 </div>

### Objectives  
- 파이썬의 자료형에 대해 숙지한다.
- 데이터분석에 필요한 파이썬 문법을 이해한다.

### 1. 파이썬 스크립트  
--- 
주피터노트북에서 파이썬 스크립트를 실행하기 위해서는,  
커맨드모드에서 Code 입력 상태로 전환하여 작성(`ESC -> y -> Enter`, 또는 상단의 `Code` 탭 선택)   

작성한 파이썬 스크립트를 실행할 때는 `Shift+Enter` 또는 `Ctrl+Enter`를 입력

In [1]:
company = 'PwC'
blank = ' '
group = 'D&A'
print(company+blank+group)
# 작성 후 Shift + Enter를 입력하면 결과가 출력된다.

PwC D&A

In [2]:
a = 10
b = 2
c = a+b
print(a+b)
# 작성 후 Shift + Enter를 입력하면 결과가 출력된다.

12

In [3]:
# print문
print('result is', a/b)

result is 5.0

In [4]:
print('곱셈: {0}, 나눗셈: {1: .2f}'.format(a*b, a/b))

곱셈: 20, 나눗셈:  5.00

### 2. 내장 자료형(Built-in types)
---
파이썬의 자료형에는 Boolean (true/false), Numeric, Sequence (list, tuple), Text, Set, Mapping (dictionary) 등이 있음.

#### 2.1 Boolean  
bool 자료형은 참과 거짓을 나타내는 자료형이다. `True`, `False` 두 가지 값만 가질 수 있다.

In [5]:
a = True
b = False

In [6]:
a

True

In [7]:
type(a) # 변수의 자료형(타입)을 확인하는 함수

bool

In [8]:
1 == 1 # 결과가 boolean 타입

True

In [9]:
True == 1

True

#### 2.2 Numeric  
덧셈 `+`, 뺄셈 `-`, 곱셈 `*`, 나눗셈 `/`
거듭제곱 `**` 등 산술연산이 가능하다.

In [10]:
a = 10
b = 10.

In [11]:
type(a)

int

In [12]:
type(b)

float

In [13]:
2 * (5.0 / 8.0 - 1.25) ** 2

0.78125

In [14]:
5 / 8

0.625

In [15]:
5 // 8 #나눗셈의 몫

0

In [16]:
5.0 // 8.0

0.0

In [17]:
8 % 5 #나눗셈의 나머지

3

`+=`와 `-=`를 이용해 값을 증감시킬 수도 있다.

In [18]:
x = 10
x += 1
print(x)

11

#### 2.3 String  
문자열 데이터는 따옴표로 둘러싸여 있다.

In [19]:
x1 = "Hello world!"
x1

'Hello world!'

In [20]:
x2 = 'Python is fun.'
x2

'Python is fun.'

In [21]:
type(x2)

str

In [22]:
y1 = "it's a book." # 큰 따옴표를 이용해 작은 따옴표 삽입
y1

"it's a book."

In [23]:
y2 = '"Very good." he says.' # 작은 따옴표를 이용해 큰 따옴표 삽입
y2

'"Very good." he says.'

In [24]:
num = "123"
type(num)

str

In [25]:
# 문자열 연산하기
a = "Python " + "is fun!"
a

'Python is fun!'

In [26]:
b = "Python"*2
b

'PythonPython'

문자열 길이 구하기

In [27]:
c = "Life is too short"
len(c)

17

**중요** : 문자열 인덱싱과 슬라이싱

<img src="img/ch02/01_string_index.jpg" width = '300'>

In [28]:
s = "Katrine"

In [29]:
print("s[2] ==", s[2])
print("s[2:5] ==", s[2:5])
print("s[:-3] ==", s[:-3])
print("s[2:] ==", s[2:])
print("s[:] ==", s[:])
print("s[1:-1:2] ==", s[1:-1:2])
print("s[::-1] ==", s[::-1])

s[2] == t
s[2:5] == tri
s[:-3] == Katr
s[2:] == trine
s[:] == Katrine
s[1:-1:2] == arn
s[::-1] == enirtaK

In [30]:
s = "20190829ThuSunny"
year = s[0:4]
month = s[4:6]
day = s[6:8]
dayOfWeek = s[8:11]
weather = s[11:]

print("{}-{}-{} ({}) {}".format(year, month, day, dayOfWeek, weather))

2019-08-29 (Thu) Sunny

#### 2.4 List  
- 순서가 있는 원소들의 집합으로 수정, 삭제, 추가가 가능하다. 
- 대괄호`[]`로 묶어주고 `,`로 원소를 구분한다. 
- 여러 타입이 함께 포함될 수 있고, 인덱스는 0부터 시작한다.

In [31]:
a = list()
b = []

In [32]:
type(a)

list

In [33]:
type(b)

list

In [34]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [35]:
b = ['a', 2, 5, 'hi', 4]
b

['a', 2, 5, 'hi', 4]

In [36]:
len(a)

5

**중요** : 리스트의 인덱싱과 슬라이싱

In [37]:
a = [1, 2, 3, 4, 5]
a[1]

2

In [38]:
a[0:2]

[1, 2]

In [39]:
a[0] + a[2]

4

**중요** : 리스트의 연산  
- 문자열과 마찬가지로 `+`를 이용해 더할 수 있고, `*`를 이용해 반복할 수 있다.

In [40]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [41]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

리스트의 원소 변경하기

In [42]:
a

[1, 2, 3]

In [43]:
a[2]=7
a

[1, 2, 7]

In [44]:
a.append(9)
a

[1, 2, 7, 9]

In [45]:
# 맨 마지막 요소 삭제하기
a.pop()
a

[1, 2, 7]

리스트의 정렬  
- `sort()`를 쓰면 리스트가 정렬되면서 리스트 내부의 값들도 변경된다. 
- `sorted()`를 쓰면 리스트가 정렬되어도 리스트 값들이 변경되지 않는다. 정렬된 값을 따로 저장해야 한다.

In [46]:
a = [1, 4, 2, 8]
a.sort()
a

[1, 2, 4, 8]

In [47]:
a = [1, 4, 2, 8]
print(sorted(a))
print(a)

[1, 2, 4, 8]
[1, 4, 2, 8]

In [48]:
a = sorted(a)
a

[1, 2, 4, 8]

#### 2.5 Dictionary
- 사전을 펴보면 'people - 사람', 'rainbow - 무지개'처럼 '단어 - 뜻'으로 표현되어 있다.  
- 파이썬의 딕셔너리 타입은 이러한 관계를 `key`와 `value`의 한 쌍으로 나타낸다. 

- 아래의 표를 참고하자.

|key|value|
|:---|:---|
|name|Tom|
|phone|01012345678|
|birth|900101|

- 이 표를 딕셔너리 타입으로 정의해보자.

In [49]:
# 한 줄로 써도 된다.

dic = {'name': 'Tom',
      'phone': '01012345678', 
      'birth': '900101'}
dic

{'name': 'Tom', 'phone': '01012345678', 'birth': '900101'}

In [50]:
type(dic)

dict

새로운 데이터 추가하기

In [51]:
dic['age'] = 30
dic

{'name': 'Tom', 'phone': '01012345678', 'birth': '900101', 'age': 30}

In [52]:
# 키가 중복되면 덮어쓴다.
dic2 = {'1': 30, '1':72}
dic2

{'1': 72}

딕셔너리 key와 value 얻기  
- 딕셔너리는 따로 인덱스가 없고, value는 key를 통해 얻을 수 있다.

In [53]:
dic['age']

30

In [54]:
# key 목록 얻어오기
dic.keys()

dict_keys(['name', 'phone', 'birth', 'age'])

In [55]:
# value 목록 얻어오기
dic.values()

dict_values(['Tom', '01012345678', '900101', 30])

In [56]:
# key와 value 쌍 얻기
dic.items()

dict_items([('name', 'Tom'), ('phone', '01012345678'), ('birth', '900101'), ('age', 30)])

### 3. 조건절 if  
---
어떤 조건을 판단해 그에 해당하는 상황을 수행하도록 하는 것이 `if문`이다.  
if문의 조건은 `if`, `elif`, `else`로 나타낼 수 있고, 기본 구조는 다음과 같다. 

```(.python)
if 조건:
    <수행할 내용>
elif 조건:
    <수행할 내용>
else:
    <수행할 내용>
```

수행할 내용은 들여쓰기를 해주어야 하고, `elif`와 `else`는 생략 가능하다.

> "기온이 28도보다 높으면 에어컨을 켜고, 그보다 낮으면 에어컨을 끈다" 

위 문장을 if문으로 표현하면 아래와 같다.

In [57]:
temp = 30

if temp > 28:
    print("에어컨을 켠다")
else:
    print("에어컨을 끈다")

에어컨을 켠다

> "기온이 30도보다 높으면 아이스크림을 사고, 27도~30도 사이이면 물을 사고, 27도보다 낮으면 그냥 간다"  

위 문장을 if문으로 표현해 보자.

In [58]:
temp = 28

if temp > 30:
    print("아이스크림")
elif temp>27 and temp<30:
    print("물")
else:
    print("빈 손")

물

> "기온이 28도보다 높으면 에어컨을 켜고, 기온이 높지만 사람이 없으면 에어컨을 끄고, 기온이 28도보다 낮으면 에어컨을 끈다"

In [59]:
temp = 30
someone = False

if temp > 28:
    if someone:
        print("에어컨을 켠다")
    else:
        print("에어컨을 끈다")
else:
    print("에어컨을 끈다")

에어컨을 끈다

### 4 반복문 for  
---
- for문의 기본 구조는 다음과 같다. 

```python
for 변수 in 리스트(또는 문자열, 튜플):
    <수행할 내용>
```

- 리스트(또는 문자열, 튜플)의 첫 번째 요소부터 마지막 요소까지 차례대로 변수에 대입되어 "<수행할 내용>" 부분이 진행된다.

In [60]:
lst = ['one', 'two', 'three']

for i in lst:
    print(i)

one
two
three

In [61]:
# range(x, y, z): x부터 y까지 숫자 리스트를 z만큼 증가시키면서 만들어 준다. 
#                 z를 생략하면 자동으로 1씩 증가한다. 

for i in range(0, 10): 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
# for 문을 사용하여 리스트의 요소를 자동으로 생성하기
lst = [i for i in range(0, 10)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
lst = [i + 2 for i in range(0, 10)]
lst

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### 5. 함수
---
함수의 구조는 다음과 같다. "매개변수"는 이 함수에 입력으로 전달되는 값을 받을 변수이며, 이 변수가 <수행할 내용>에서 사용된다. 

```python
def 함수명(매개변수):
    <수행할 내용>
```

In [64]:
def add(a, b):
    return a + b

In [65]:
c = add(1, 3)
c

4

In [66]:
def add2(a, b):
    a += 1
    b += 1
    return a + b

In [67]:
c = add2(4, 6)
c

12